<div class="hero-banner hero-banner--aqua-emerald">
    <div class="hero-banner__logo">
        <img class="hero-banner__image hero-banner__image--small" src="https://cdn.auth0.com/blog/developer-hub/aspnet-core-logo.svg"
            alt="ASP.NET Core logo" />
    </div>
    <h1 class="hero-banner__headline">Hello, ASP.NET Core World!</h1>
    <p class="hero-banner__description">
        <span>This is a sample application that demonstrates the authentication flow
            for ASP.NET Core web apps using <strong>Auth0</strong>.</span>
    </p>

    <a href="https://developer.auth0.com/resources/code-samples/web-app/aspnet-core/basic-authentication" id="code-sample-link" class="button button--secondary"
        target="_blank" rel="noopener noreferrer">Check out the ASP.NET Core code sample →</a>
</div>
