@model App.Models.ViewComponents.NavBarModel

<div class="nav-bar__container">
    <nav class="nav-bar">
        <div class="nav-bar__brand">
            <a asp-route="home">
                <img class="nav-bar__logo" src="https://cdn.auth0.com/blog/hub/code-samples/hello-world/auth0-logo.svg"
                    alt="Auth0 shield logo" width="122" height="36" />
            </a>
        </div>
        <div class="nav-bar__tabs">
            <a asp-route="profile" class="nav-bar__tab">Profile</a>
            <a asp-route="public_message" class="nav-bar__tab">Public</a>
            @if (Model != null && Model.isAuthenticated)
            {
                <a asp-route="protected_message"
                class="nav-bar__tab@(Model?.activeRoute == "/protected" ? " nav-bar__tab--active" : "" )"
                >Protected</a>
                <a asp-route="admin_message"
                class="nav-bar__tab@(Model?.activeRoute == "/admin" ? " nav-bar__tab--active" : "" )"
                >Admin</a>
            }
        </div>
        <div class="nav-bar__buttons">
            <vc:authentication-button is-authenticated=@(Model?.isAuthenticated ?? false)></vc:authentication-button>
        </div>
    </nav>
</div>
